<form id="form" action="/search" method="post">
  <div class="navbar">
    <div align="left">
      <a href="/"><img class="icon" src="/images/home.png" /></a>
      <div class="searchbox" style="float: right; width: 255px;">
        <input type="text" name="search" placeholder="   🔎    Search..." />
      </div>
    </div>
  </div>
  <input type="submit" class="btn_search" value="" />
</form>
